 
mark.pink {
	color:#e83727;
	background: none;
}
 
 .intro{
 	margin-bottom: -20px;  
 	font-size: 1rem;
 	position: relative;
 	top:-20px;
 	width: 500px;
  }

   body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.name {
	font-size: 1rem;
}

a {
	color: black;
	font-family: 'Karla', sans-serif;
	text-decoration: none !important;
}

a:hover {
	color:#e83727 !important;
	text-decoration: none !important;
}

.box{
	display: block;
	height: 4px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #e83727;
}

h4 {
	margin-left: 40px;
	font-family: 'Karla', sans-serif;
	color: #3c3c3c;
	font-weight: normal;
}

h4:hover {
	color:#e5c512;
}

p {
	margin-left: 40px;
	margin-top: 55px;
		font-family: 'Karla', sans-serif;
		font-size: small;

}

.projects {
	position: relative;
	top: 0px;
	margin-left: 175px;
	padding-bottom: 20px;
}

.uno {
	font-family: 'Karla', sans-serif;
	float: left;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: -35px;
	left: -33px;
	font-size: medium;
}


.container {
	z-index: -1;
	position: relative;
	top: 25px;
	font-family: 'Karla', sans-serif;
	color: #3c3c3c;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 800px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #c1c1c0;
	float:left;
	display:block;
}

.container1 {
	z-index: -1;
	position: relative;
	top: 25px;
	font-family: 'Karla', sans-serif;
	color: #3c3c3c;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 800px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #c1c1c0;
	float:left;
	display:block;
	height: 75px;
}

.description {
	float: right;
	position: relative;
	left: -45px;
	top: -54px;
	font-size: xx-large;
	color: #c3c3c3;
	font-weight: normal;
}

mark.lightgray {
	color:#c3c3c3;
	background: none;
}

